body {
  background-color: #f0f8ff;
  background-image: url("bg\ code.jpg");
  color: #000000; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  color: #ffffff; 
  padding: 10px;
  text-align: center;
}

.headerbar {
  display: flex; 
  justify-content: center; /* Center elements horizontally */
  align-items: center;
  padding: 10px 20px;
   
}
.logo {
  padding: 1px;
  background-color: #ffffff;
  height: 80px;}

.navbar {
  background-color: #225763;
  padding: 10px;
  text-align: center;
}

.nav-list {
  text-align: center;
  list-style-type:none;
  display:flex;
  justify-content:space-evenly;
  padding: 0;
  margin-left: 300px;
}

.nav-list li {
  text-align: center;
  margin: 10px 50px;
}

.nav-list a {
  color: #ffffff; /* White text */
  text-decoration: none;
  font-size: 18px;
}

.nav-list a:hover {
  background: linear-gradient(90deg, #4a0edb, #da09b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Ensure compatibility with non-webkit browsers */
  color: transparent;
  text-decoration: underline;
}

.section-background {
  background-color: #f8f9fa; 
  color: #000000; 
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
  background: linear-gradient(90deg, #4a0edb, #da09b2);
  color: #ffffff; 
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 20px;
  margin: 10px 0;
}

.button {
  background: linear-gradient(90deg, #5b0fef, #ec0bbf); 
  color: #ffffff; /* White Text */
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin: 80px;
}

.button:hover {
  background: linear-gradient(90deg, #4a0edb, #da09b2);
  color: white;
  text-decoration: none;
}


.button-gradient {
  background: linear-gradient(90deg, #5b0fef, #ec0bbf); /* Gradient colors */
  color: #ffffff; /* White text */
  padding: 15px 20px;
  border: none;
  border-radius: 30px; /* Rounded corners */
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 0.3s ease;
  margin-left: 550px;
}

.button-gradient:hover {
  background: linear-gradient(90deg, #4a0edb, #da09b2); /* Slightly darker gradient on hover */
  color: white;
  text-decoration: none;
}

.button-gradient .arrow {
  margin-left: 10px;
  font-size: 20px; /* Arrow size */
}

.footer {
  background-color: #225763; 
  color: #ffffff; /* White Text */
  text-align: center;
  padding: 10px 0;
}

.secondary-text {
  color: #6c757d; /* Gray Text */
}